---
---

<div class="flex flex-col flex-wrap gap-6 w-full md:flex-row md:justify-between">
    <div class="flex flex-col gap-6">
        <p class="text-base font-normal max-w-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione eveniet quasi reiciendis mollitia, labore ullam eaque? Maxime quas neque perspiciatis officia nobis explicabo distinctio aliquid autem. Asperiores, nulla aperiam! <br> <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ducimus voluptas, molestias aliquam suscipit dolor consequatur culpa perferendis non provident nemo tempora delectus incidunt exercitationem sed, itaque sequi mollitia qui? </p>
        <a href="/about-me" class="pt-2 pb-2 pl-4 pr-4 w-fit border-[1px] border-[#C778DD]">Read more -></a>
    </div>
    <img class="w-60" src="" alt="">
</div>