---
---

<header>
    <div class="flex justify-between items-center pt-4 pb-4 pl-8 pr-8  lg:pl-32 lg:pr-32 xl:pt-8 xl:pb-8 xl:pl-36 xl:pr-36 2xl:pl-56 2xl:pr-56">
        <a class="flex items-center" href="/">
            <h2 class="text-3xl font-bold text-white 2xl:text-5xl">JarDev</h2>
        </a>
        <nav class="flex items-center gap-8">
            <ul class="hidden lg:flex items-center lg:gap-8">
                <li><a class="hover:text-[#ABB2BF] 2xl:text-xl" href="/projects">projects</a></li>
                <li><a class="hover:text-[#ABB2BF] 2xl:text-xl" href="/education">education</a></li>
                <li><a class="hover:text-[#ABB2BF] 2xl:text-xl" href="/about-me">about me</a></li>
            </ul>
            <select class="bg-transparent cursor-pointer 2xl:text-lg">
                <option class="bg-[#282C33]" value="en">EN</option>
                <option class="bg-[#282C33]" value="es">ES</option>
            </select>
        </nav>
    </div>
</header>